<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PPLTestMonitor.Properties.mySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<userSettings>
		<PPLTestMonitor.Properties.mySettings>
   <setting name="Send" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SmtpHost" serializeAs="String">
    <value>smtp.gmail.com</value>
   </setting>
   <setting name="SmtpPort" serializeAs="String">
    <value>587</value>
   </setting>
   <setting name="SmtpUser" serializeAs="String">
    <value>yourmail@gmail.com</value>
   </setting>
   <setting name="SmtpPassword" serializeAs="String">
    <value>yourPW</value>
   </setting>
   <setting name="CcAddress" serializeAs="String">
    <value>yourmail@gmail.com</value>
   </setting>
   <setting name="FilePath" serializeAs="String">
    <value>D:\TEST</value>
   </setting>
   <setting name="MaxTimeOutNum_all" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="TimeOutFilter_all" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="TimeOutSpan_all" serializeAs="String">
    <value>45</value>
   </setting>
   <setting name="SingleStateRunTime" serializeAs="String">
    <value>8</value>
   </setting>
   <setting name="TotalRunTime" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="ConnectionString" serializeAs="String">
    <value>Data Source=10.20.70.110;Database=test_data_monitor;User ID=admin;Password=123456</value>
   </setting>
   <setting name="TimeOutFilter_fun" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="TimeOutSpan_fun" serializeAs="String">
    <value>45</value>
   </setting>
   <setting name="MaxTimeOutNum_fun" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="StatesStartTimeSpan" serializeAs="String">
    <value>2</value>
   </setting>
  </PPLTestMonitor.Properties.mySettings>
	</userSettings>
</configuration>
